workflows/n8n/rag-active-call-phase-2-retrieval-gate.json
{
  "name": "RAG Active Call - Phase 2 Retrieval Gate",
  "nodes": [
    {
      "parameters": {},
      "id": "8e9c42e8-6a20-4b76-80ad-0f2835f41f1d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1800, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "9f6ac9a4-720c-4c96-9567-b82808843201",
              "name": "user_query",
              "value": "Phase 2 test: can n8n confirm Qdrant is ready before retrieval?",
              "type": "string"
            },
            {
              "id": "ef1d307a-21f6-4d67-84bf-b69b508da6aa",
              "name": "discord_message_id",
              "value": "phase-2-retrieval-gate-manual",
              "type": "string"
            },
            {
              "id": "27fe52f3-e8e1-4db1-812f-4a260a415371",
              "name": "channel_id",
              "value": "phase-2-test",
              "type": "string"
            },
            {
              "id": "a4c95a17-029b-4b15-890d-d197d63790e8",
              "name": "channel_name",
              "value": "n8n-phase-2-test",
              "type": "string"
            },
            {
              "id": "dd8507fd-4a05-406c-bafb-e9356c327370",
              "name": "author_id_hash",
              "value": "manual-test-author",
              "type": "string"
            },
            {
              "id": "01775b0d-02fe-40dc-9217-32a0661f6ba9",
              "name": "qdrant_collection",
              "value": "tpm_unite_history",
              "type": "string"
            },
            {
              "id": "0ab27807-2a10-492a-bf41-613485468696",
              "name": "min_result_count",
              "value": 3,
              "type": "number"
            },
            {
              "id": "9a38e081-b3ee-4568-9490-35c819186aa0",
              "name": "retrieval_score_threshold",
              "value": 0.55,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e43cf443-1eba-46ac-8af2-40c1826caa82",
      "name": "Set Manual Active Call",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1560, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rag_transactions (\n  discord_message_id,\n  channel_id,\n  channel_name,\n  author_id_hash,\n  incoming_message_ts,\n  route_type,\n  status,\n  retrieval_status,\n  response_status,\n  user_query\n)\nVALUES (\n  '{{ $json.discord_message_id }}',\n  '{{ $json.channel_id }}',\n  '{{ $json.channel_name }}',\n  '{{ $json.author_id_hash }}',\n  now(),\n  'active_call',\n  'created',\n  'not_started',\n  'not_started',\n  '{{ $json.user_query }}'\n)\nRETURNING\n  transaction_id,\n  created_at,\n  discord_message_id,\n  channel_id,\n  channel_name,\n  author_id_hash,\n  route_type,\n  status,\n  retrieval_status,\n  response_status,\n  user_query;"
      },
      "id": "a6ee28cb-09d7-4286-bc85-109eff425076",
      "name": "Create Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1320, 0],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rag_trace_events (\n  transaction_id,\n  event_name,\n  node_name,\n  status,\n  event_payload\n)\nVALUES\n(\n  '{{ $json.transaction_id }}',\n  'discord.event_received',\n  'Set Manual Active Call',\n  'completed',\n  jsonb_build_object(\n    'discord_message_id', '{{ $json.discord_message_id }}',\n    'channel_id', '{{ $json.channel_id }}',\n    'channel_name', '{{ $json.channel_name }}'\n  )\n),\n(\n  '{{ $json.transaction_id }}',\n  'routing.active_call',\n  'Create Transaction',\n  'decision',\n  jsonb_build_object(\n    'route_type', '{{ $json.route_type }}',\n    'reason', 'manual_phase_2_retrieval_gate_test'\n  )\n)\nRETURNING event_id, transaction_id, event_name;"
      },
      "id": "5ff30314-2c97-4e1a-918f-dce943714ebb",
      "name": "Log Ingress And Routing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1080, 0],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tx = $items('Create Transaction')[0].json;\nconst input = $items('Set Manual Active Call')[0].json;\nconst normalizedQuery = `search_query: ${tx.user_query.replace(/\\s+/g, ' ').trim()}`;\nreturn [{\n  json: {\n    ...tx,\n    normalized_query: normalizedQuery,\n    qdrant_collection: input.qdrant_collection || 'tpm_unite_history',\n    min_result_count: Number(input.min_result_count ?? 3),\n    retrieval_score_threshold: Number(input.retrieval_score_threshold ?? 0.55)\n  }\n}];"
      },
      "id": "8fd71d0f-a9ad-4ea6-889c-1d60e285d762",
      "name": "Normalize Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-840, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag_transactions\nSET normalized_query = '{{ $json.normalized_query }}'\nWHERE transaction_id = '{{ $json.transaction_id }}';\n\nINSERT INTO rag_trace_events (\n  transaction_id,\n  event_name,\n  node_name,\n  status,\n  event_payload\n)\nVALUES (\n  '{{ $json.transaction_id }}',\n  'query.normalized',\n  'Normalize Query',\n  'completed',\n  jsonb_build_object(\n    'normalized_query', '{{ $json.normalized_query }}',\n    'query_prefix', 'search_query:'\n  )\n)\nRETURNING event_id, transaction_id, event_name;"
      },
      "id": "c90d28ef-3fc9-4d11-bfed-53e1ece61d0c",
      "name": "Persist Query Normalized",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-600, 0],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://ragbot-qdrant:6333/collections/{{ $items('Normalize Query')[0].json.qdrant_collection }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "29060a86-58bc-41ac-9ae1-b9912c42aed2",
      "name": "Check Qdrant Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-360, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const tx = $items('Create Transaction')[0].json;\nconst normalized = $items('Normalize Query')[0].json;\nconst response = $json;\nconst statusCode = response.statusCode ?? response.status ?? 0;\nconst result = response.body?.result ?? {};\nconst pointsCount = Number(result.points_count ?? result.pointsCount ?? result.vectors_count ?? 0);\nconst collectionExists = statusCode >= 200 && statusCode < 300 && !!response.body?.result;\nconst collectionReady = collectionExists && pointsCount > 0;\nlet retrievalDecision = 'collection_ready_for_embedding';\nlet nextStatus = 'retrieving';\nlet nextRetrievalStatus = 'not_started';\nlet refusalReason = null;\nlet phase2Result = 'ready_for_embedding_and_vector_search';\n\nif (!collectionExists) {\n  retrievalDecision = 'qdrant_collection_missing';\n  nextStatus = 'refused';\n  nextRetrievalStatus = 'no_context';\n  refusalReason = 'qdrant_collection_missing';\n  phase2Result = 'refused_missing_qdrant_collection';\n} else if (!collectionReady) {\n  retrievalDecision = 'qdrant_collection_empty';\n  nextStatus = 'refused';\n  nextRetrievalStatus = 'no_context';\n  refusalReason = 'qdrant_collection_empty';\n  phase2Result = 'refused_empty_qdrant_collection';\n}\n\nreturn [{\n  json: {\n    transaction_id: tx.transaction_id,\n    user_query: tx.user_query,\n    normalized_query: normalized.normalized_query,\n    qdrant_collection: normalized.qdrant_collection,\n    min_result_count: normalized.min_result_count,\n    retrieval_score_threshold: normalized.retrieval_score_threshold,\n    qdrant_status_code: statusCode,\n    collection_exists: collectionExists,\n    points_count: pointsCount,\n    collection_ready: collectionReady,\n    retrieval_decision: retrievalDecision,\n    next_status: nextStatus,\n    next_retrieval_status: nextRetrievalStatus,\n    refusal_reason: refusalReason,\n    phase_2_result: phase2Result\n  }\n}];"
      },
      "id": "6fd402ce-c95a-4faa-aa2d-674dd8b9d958",
      "name": "Build Retrieval Gate Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rag_trace_events (\n  transaction_id,\n  event_name,\n  node_name,\n  status,\n  event_payload\n)\nVALUES (\n  '{{ $json.transaction_id }}',\n  'qdrant.collection_check',\n  'Check Qdrant Collection',\n  'decision',\n  jsonb_build_object(\n    'qdrant_collection', '{{ $json.qdrant_collection }}',\n    'qdrant_status_code', {{ $json.qdrant_status_code || 0 }},\n    'collection_exists', {{ $json.collection_exists }},\n    'points_count', {{ $json.points_count || 0 }},\n    'collection_ready', {{ $json.collection_ready }},\n    'min_result_count', {{ $json.min_result_count || 0 }},\n    'retrieval_score_threshold', {{ $json.retrieval_score_threshold || 0 }},\n    'retrieval_decision', '{{ $json.retrieval_decision }}',\n    'phase_2_result', '{{ $json.phase_2_result }}'\n  )\n)\nRETURNING event_id, transaction_id, event_name;"
      },
      "id": "b5f5e279-a0d3-46b5-94d5-edc900e65f3e",
      "name": "Log Retrieval Gate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [120, 0],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag_transactions\nSET\n  status = '{{ $items(\"Build Retrieval Gate Decision\")[0].json.next_status }}',\n  retrieval_status = '{{ $items(\"Build Retrieval Gate Decision\")[0].json.next_retrieval_status }}',\n  response_status = 'not_posted',\n  refusal_reason = NULLIF('{{ $items(\"Build Retrieval Gate Decision\")[0].json.refusal_reason }}', ''),\n  completed_at = now(),\n  latency_ms = GREATEST(1, EXTRACT(EPOCH FROM (now() - created_at))::int * 1000)\nWHERE transaction_id = '{{ $items(\"Build Retrieval Gate Decision\")[0].json.transaction_id }}'\nRETURNING\n  transaction_id,\n  route_type,\n  status,\n  retrieval_status,\n  response_status,\n  refusal_reason,\n  user_query,\n  normalized_query,\n  created_at,\n  completed_at,\n  latency_ms;"
      },
      "id": "1d1e0123-b2e7-42de-a59b-4f656f8da882",
      "name": "Finalize Phase 2 Gate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [360, 0],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rag_trace_events (\n  transaction_id,\n  event_name,\n  node_name,\n  status,\n  event_payload\n)\nVALUES (\n  '{{ $json.transaction_id }}',\n  'transaction.phase_2_gate_completed',\n  'Finalize Phase 2 Gate',\n  'completed',\n  jsonb_build_object(\n    'status', '{{ $json.status }}',\n    'retrieval_status', '{{ $json.retrieval_status }}',\n    'response_status', '{{ $json.response_status }}',\n    'refusal_reason', '{{ $json.refusal_reason }}',\n    'latency_ms', {{ $json.latency_ms || 0 }}\n  )\n)\nRETURNING event_id, transaction_id, event_name;"
      },
      "id": "74c7d680-f694-43b3-a8d0-2dcac8dc2e15",
      "name": "Log Phase 2 Gate Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [600, 0],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  transaction_id,\n  route_type,\n  status,\n  retrieval_status,\n  response_status,\n  refusal_reason,\n  user_query,\n  normalized_query,\n  created_at,\n  completed_at,\n  latency_ms\nFROM rag_transactions\nWHERE transaction_id = '{{ $json.transaction_id }}';"
      },
      "id": "c10ce1c6-f1a1-45dd-95f9-e3d0892d7a9e",
      "name": "Read Final Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [840, -100],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  event_id,\n  event_name,\n  node_name,\n  status,\n  event_payload,\n  created_at\nFROM rag_trace_events\nWHERE transaction_id = '{{ $json.transaction_id }}'\nORDER BY created_at ASC;"
      },
      "id": "9c2fb10d-7bc5-4919-81ce-6e11d69e2d81",
      "name": "Read Trace Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [840, 100],
      "credentials": {
        "postgres": {
          "id": "91KXbNmHZPM5D5mO",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Set Manual Active Call", "type": "main", "index": 0}]]
    },
    "Set Manual Active Call": {
      "main": [[{"node": "Create Transaction", "type": "main", "index": 0}]]
    },
    "Create Transaction": {
      "main": [[{"node": "Log Ingress And Routing", "type": "main", "index": 0}]]
    },
    "Log Ingress And Routing": {
      "main": [[{"node": "Normalize Query", "type": "main", "index": 0}]]
    },
    "Normalize Query": {
      "main": [[{"node": "Persist Query Normalized", "type": "main", "index": 0}]]
    },
    "Persist Query Normalized": {
      "main": [[{"node": "Check Qdrant Collection", "type": "main", "index": 0}]]
    },
    "Check Qdrant Collection": {
      "main": [[{"node": "Build Retrieval Gate Decision", "type": "main", "index": 0}]]
    },
    "Build Retrieval Gate Decision": {
      "main": [[{"node": "Log Retrieval Gate", "type": "main", "index": 0}]]
    },
    "Log Retrieval Gate": {
      "main": [[{"node": "Finalize Phase 2 Gate", "type": "main", "index": 0}]]
    },
    "Finalize Phase 2 Gate": {
      "main": [[{"node": "Log Phase 2 Gate Completed", "type": "main", "index": 0}]]
    },
    "Log Phase 2 Gate Completed": {
      "main": [
        [
          {"node": "Read Final Transaction", "type": "main", "index": 0},
          {"node": "Read Trace Events", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41f7c6de-7879-4d89-946b-13b3b755b450",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "rag-active-call-phase-2-retrieval-gate",
  "tags": []
}
